@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.header {
  padding: 15px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #fafafa;
  text-transform: uppercase;
}

.logo {
  flex: 0 0 35%;
}

.logo__link {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  color: #000;
}

.nav {
  flex: 0 0 35%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.header__btn {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 10px 20px;
  background: none;
  text-transform: uppercase;
}

.main {
  padding: 60px;
  background: #fafafa;
}

.social__sidebar {
  position: fixed;
  bottom: 0;
  left: 60px;
}

.social__list {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.social__list::after {
  content: "";
  top: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 1px;
  background: #000;
}

.social__link {
  text-decoration: none;
  color: #000;
}

.social__icon {
  width: 24px;
  height: auto;
}

.email__sidebar {
  position: fixed;
  top: 0;
  right: 70px;
}

.email__text::before {
  content: "";
  top: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 1px;
  background: #000;
}

.email__link {
  display: block;
  margin-top: 25px;
  width: 0;
  text-decoration: none;
  color: #000;
  letter-spacing: .1em;
  transform: rotate(90deg);
}

.general {
  height: calc(100vh - 80px);
}

.general__title {
  padding: 10vmax 15vmax;
}

.general__text {
  font-size: 20px;
}

.general__text_size_large {
  font-family: 'Nunito', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  padding: 20px 140px 40px 100px;
}

.title {
  position: relative;
  margin: 36px;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
  z-index: 0;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  display: block;
  width: 120%;
  height: 40%;
  background: #d9d8ed;
  z-index: -1;
}

.about__content {
  display: flex;
  column-gap: 60px;
}

.about__text {
  flex: 0 0 50%;
  text-align: justify;
  line-height: 1.25;
}

.about__paragraph {
  margin-bottom: 24px;
}

.about__picture {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  z-index: 0;
}

.about__img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  filter: grayscale(100%);
  transition: .3s;
  transform: translateZ(0);
}

.about__img:hover {
  border-radius: 3px;
  filter: grayscale(0%);
  transition: .3s;
}

.about__img_border {
  position: absolute;
  top: 40px;
  left: 40px;
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 2px solid #000;
  border-radius: 3px;
  z-index: -1;
  transition: .3s;
}

.about__img:hover + .about__img_border {
  top: 20px;
  left: 20px;
  transition: .3s;
}

.projects__list {
  list-style-type: none;
}

.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.project__view {
  grid-column: 1 / 9;
  grid-row: 1 / -1;
  z-index: 0;
}

.project__image {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  filter: grayscale(100%);
  transition: .3s;
}

.project__image:hover {
  filter: grayscale(0);
}

.project__content {
  grid-column: 8 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 60px 0;
}

.project__title {
  font-family: 'Nunito', sans-serif;
}

.project__description {
  border-radius: 3px;
  padding: 20px;
  background: #e4e1f1;
  box-shadow: -5px 10px 10px -5px rgba(0, 0, 0, .7);
  text-align: right;
  z-index: 1;
}

.tech-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: 20px;
  list-style-type: none;
}

.project__link {
  text-decoration: none;
}

.project__link_icon {
  width: 24px;
  height: auto;
  transition: .3s;
}

.project__link_icon:hover {
  transform: scale(1.2);
}

.skills__text {
  margin-bottom: 24px;
  font-size: 20px;
}

.skills__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: circle;
  list-style-position: inside;
  font-size: 24px;
}

.contact__content {
  margin-bottom: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__text {
  margin-bottom: 64px;
  font-size: 20px;
  text-align: center;
}

.contact__link {
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 20px 30px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 24px;
}